body { }

#config-container {
  text-align: center;
}
#video-selector-container {
  font-size: 20px;
  border-bottom: solid 3px #6B0000;
  padding: 10px;
  margin: 1em 0;
  display: inline-block;
}
#video-selector {
  font-size: 20px;
}

#video-realtime-labels {
  margin: 0 auto;
  text-align: center;
}

video {
  vertical-align: middle;
  width: 500px;
}

#realtime-labels-container {
  display: inline-block;
  overflow: auto;
  resize: horizontal;
  width: 300px;
  vertical-align: middle;
}

#realtime-labels {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
}

.label {
  color: #000;
  padding: 5px 5px;
}

.active-label {
  color: white;
  background: black;
}
