body { }

#video-realtime-labels {
  margin: 0 auto;
  text-align: center;
}

video {
  vertical-align: middle;
  width: 500px;
}

#realtime-labels {
  display: inline-block;
  vertical-align: middle;
}

#groundtruth {
  display: inline-block;
  width: 200px;
}

#predictions {
  display: inline-block;
  width: 80px;
  text-align: center;
}

.label {
  color: #000;
  padding: 0px 5px;
  margin: 5px;
}

.active-label {
  color: white;
  background: black;
}
