body { }

#video-realtime-labels {
  margin: 0 auto;
  text-align: center;
}

video {
  vertical-align: middle;
  width: 500px;
}

#realtime-labels-container {
  display: inline-block;
  overflow: auto;
  resize: horizontal;
  width: 300px;
  vertical-align: middle;
}

#realtime-labels {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
}

.label {
  color: #000;
  padding: 5px 5px;
}

.active-label {
  color: white;
  background: black;
}
