body { }

#config-container {
  text-align: center;
}
#video-selector-container {
  font-size: 20px;
  border-bottom: solid 3px #6B0000;
  padding: 10px;
  margin: 1em 0;
  display: inline-block;
}
#video-selector {
  font-size: 20px;
}

#video-realtime-labels {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

video {
  margin-top: 20px;
  max-width: 400px;
  width: 20%;
}

#realtime-labels-container {
  display: inline-block;
  overflow: auto;
  resize: horizontal;
  width: 80%;
  height: 1000px;
  vertical-align: top;
}

#realtime-labels {
  display: inline-block;
  width: 100%;
}

#labels-in-video-title, #labels-not-in-video-title {
  background: #6B0000;
  color: #eee;
}

.groundtruth-label {
  width: 20%;
}

.prediction-label {
  width: 10%;
}

.label {
  color: #000;
  padding: 5px 5px;
}

.active-label {
  color: white;
  background: black;
}

.prediction-score-graph {
  width: 65%;
}

.prediction-score-graph > div {
  width: 100%;
}
