<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title></title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="/static/main.js"></script>
    <link rel="stylesheet" href="/static/main.css" type="text/css">
  </head>
  <body>
    <select id='video-selector'>
    </select>
    <div id="video-realtime-labels">
      <video controls></video>
      <div id="realtime-labels">
        <div id='groundtruth'>
          <b>Groundtruth</b>
          <div id='groundtruth-labels'>
          </div>
        </div>
        <div id='predictions'>
          <b>Prediction</b>
          <div id='predictions-scores'>
          </div>
        </div>
      </div>
    </div>
    <h2 id="debug"></h1>
    <div id='predictions-graph'></div>
  </body>
</html>
