<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title></title>
    <script src="/static/plotly-latest.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="/static/main.js"></script>
    <link rel="stylesheet" href="/static/main.css" type="text/css">
  </head>
  <body>
    <div id='config-container'>
    <div id='video-selector-container'>
      Select a video:
      <select id='video-selector'>
      </select>
    </div>
    </div>
    <div id="video-realtime-labels">
      <video controls></video>
      <div id='realtime-labels-container'>
        <table id="realtime-labels">
          <tr>
            <td id='groundtruth'> <b>Groundtruth</b> </td>
            <td id='predictions'> <b>Predictions</b> </td>
          </tr>
        </table>
      </div>
    </div>
    <h2 id="debug"></h1>
    <div id='predictions-graph'></div>
    <div id='groundtruth-graph'></div>
  </body>
</html>
